<section id="cover" class="cover element">
    <div id="input120" class="container aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form name="myform120" onsubmit="desmontable120()">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                            <input class="btn" value="DESMONTABLE 120cm x 60cm" readonly>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                            <input class="btn input" id="ladoA120" placeholder="ANCHO: 0.00M" type="number" step="0.1" required>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                            <input class="btn input" id="ladoB120" placeholder="LARGO: 0.00M" type="number" step="0.1" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <input class="btn" type="submit" value="CALCULAR!">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="output120" class="container hidden paddingH aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 ">
                <table class="tablas">
                    <tr>
                        <th>CIELORRASO DESMONTABLE 120 x 60</th>
                        <th id="area">Superficie: </th>
                    </tr>
                </table>
                <table class="tablas">
                    <tr>
                        <td>ANCHO:</td>
                        <td id="anchoA">0.00m</td>
                        <td>LARGO:</td>
                        <td id="largoB">0.00m</td>
                    </tr>
                </table>
                <table class="tablas">
                    <tr>
                        <th>CANTIDAD</th>
                        <th>MATERIALES</th>
                    </tr>
                    <tr>
                        <td id="placasD">0</td>
                        <td>PLACA DE YESO DESMONTABLE 1.20m x 0.60m</td>
                    </tr>
                    <tr>
                        <td id="perimetral">0</td>
                        <td>PERIMETRAL 3.00m</td>
                    </tr>
                    <tr>
                        <td id="larguero">0</td>
                        <td>LARGUERO 3.66m</td>
                    </tr>
                    <tr>
                        <td id="travesanio122">0</td>
                        <td>TRAVESAÑO 1.22m</td>
                    </tr>
                    <tr>
                        <td id="fijaciones6">0</td>
                        <td>FIJACIONES 6mm</td>
                    </tr>
                    <tr>
                        <td id="alambre">0</td>
                        <td>ROLLO ALAMBRE 1kg</td>
                    </tr>
                </table>
                <br>
                <table>
                    <tr>
                        <th class="text-center">www.stangestudio.com</th>
                    </tr>
                </table>
                <br>
                <a onclick="javascript:printpdf120();" class="btn btn-primary btn-md paddingbutton" role="button">Guardar PDF</a>
            </div>
        </div>
    </div>
</section>
