<section id="cover" class="cover element">
    <div id="input60" class="container aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form name="myform60" onsubmit="desmontable60()">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                            <input class="btn" value="DESMONTABLE 60cm x 60cm" readonly>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                            <input class="btn input" id="ladoA60" name="ladoA60" placeholder="ANCHO: 0.00M" type="number" step="0.1" required>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                            <input class="btn input" id="ladoB60" name="ladoB60" placeholder="LARGO: 0.00M" type="number" step="0.1" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <input class="btn" type="submit" value="CALCULAR!">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="output60" class="container hidden aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 ">
                <table class="tablas">
                    <tr>
                        <th>CIELORRASO DESMONTABLE 60 x 60</th>
                        <th id="area60">SUPERFICIE: </th>
                    </tr>
                </table>
                <table class="tablas">
                    <tr>
                        <td>ANCHO:</td>
                        <td id="anchoA60R">0.00m</td>
                        <td>LARGO:</td>
                        <td id="largoB60R">0.00m</td>
                    </tr>
                </table>
                <table class="tablas">
                    <tr>
                        <th>CANTIDAD</th>
                        <th>MATERIALES</th>
                    </tr>
                    <tr>
                        <td id="placasD60">0</td>
                        <td>PLACA DE YESO DESMONTABLE 1.20m x 0.60m</td>
                    </tr>
                    <tr>
                        <td id="perimetral60">0</td>
                        <td>PERIMETRAL 3.00m</td>
                    </tr>
                    <tr>
                        <td id="larguero60">0</td>
                        <td>LARGUERO 3.66m</td>
                    </tr>
                    <tr>
                        <td id="travesanio12260">0</td>
                        <td>TRAVESAÑO 1.22m</td>
                    </tr>
                    <tr>
                        <td id="travesanio06160">0</td>
                        <td>TRAVESAÑO 0.61m</td>
                    </tr>
                    <tr>
                        <td id="fijaciones660">0</td>
                        <td>FIJACIONES 6mm</td>
                    </tr>
                    <tr>
                        <td id="alambre60">0</td>
                        <td>ROLLO ALAMBRE 1kg</td>
                    </tr>
                </table>
                <h5>www.stangestudio.com</h5>
                <br>
                <a onclick="javascript:printpdf60();" class="btn btn-primary btn-md paddingbutton" role="button">Guardar PDF</a>
            </div>
        </div>
    </div>
</section>