<section id="cover" class="cover element">
    <div class="container aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="padding">
                    <h1 class="title"><span>CALCULADORA DRYWALL</span></h1>
                    <br>
                </div>
                <div class="paddingH">
                    <a href="#/opciones" class="btn btn-primary btn-md paddingbutton " role="button">CALCULAR</a>
                </div>
                <div class="padding paddingH">
                    <p class="paragraph"><strong>
                        Calculadora de materiales para la construcción en seco con placas de roca de yeso. Se obtiene una lista de materiales en base a las medidas proporcionadas por el usuario.</strong></p>
                    <p class="paragraph smooth">Stange Studio no se hace responsable por el resultado del calculador fuera del uso simple y a modo orientativo que tiene. La lista de materiales desestima detalles de obra, está ajustada y se tiene que confirmar con el instalador.</p>
                </div>
            </div>
        </div>
    </div> 
</section>