<section id="cover" class="cover element">
    <div class="container aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="paddingH">CONTACTO</h2>
                <div>
                    <p><span class="fa fa-envelope fa-2x paddingH breathR"></span>
                        <br><a class="breathR" href="mailto:norbert@stangestudio.com">norbert@stangestudio.com</a></p>
                    <p><span class="fa fa-envelope fa-2x paddingH breathR"></span>
                        <br><a class="breathR" href="http://www.stangestudio.com">www.stangestudio.com</a></p>
                </div>
                <div class="paddingH">
                    <a href="#" class="paddingicons"><span class="fa fa-2x fa-twitter black breathR"></span></a>
                    <a href="#" class="paddingicons"><span class="fa fa-2x fa-instagram black breathR"></span></a>
                    <a href="#" class="paddingicons"><span class="fa fa-2x fa-deviantart black breathR"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>