<section id="cover" class="cover element">
    <div class="container aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="paddingH">CONTACTO</h2>
                <div>
                    <a class="alink breathR" href="mailto:norbert@stangestudio.com">
                    <span class="fa fa-envelope fa-2x paddingH breathR"></span><br>
                    <p>norbert@stangestudio.com</p>
                    </a>
                    <a class="alink breathR" target="_blank" href="http://www.stangestudio.com">
                    <span class="fa fa-globe fa-2x paddingH breathR"></span><br>
                    <p>www.stangestudio.com</p>
                    </a>
                </div>
                <div class="paddingHx2">
                    <a href="https://twitter.com/stangestudio" target="_blank" class="paddingicons"><span class="fa fa-2x fa-twitter black breathR"></span></a>
                    <a href="https://n0rb3rt.deviantart.com" target="_blank" class="paddingicons"><span class="fa fa-2x fa-deviantart black breathR"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
