<section id="cover" class="cover element">
    <div class="container aos-item" data-aos="fade-down">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a href="#/desmontable" class="btn btn-primary btn-lg btn-block" role="button">Cielorraso Desmontable</a>
                <a href="#/juntatomada" class="btn btn-primary btn-lg btn-block" role="button">Cielorraso Junta Tomada</a>
                <a href="#/paredinterior" class="btn btn-primary btn-lg btn-block" role="button">Pared Interior</a>
                <a href="#/paredintext" class="btn btn-primary btn-lg btn-block" role="button">Pared Interior/Exterior</a>
                <a href="#/revestimiento" class="btn btn-primary btn-lg btn-block" role="button">Revestimiento</a>
            </div>
        </div>
    </div>
</section>