<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle border" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="white">MENU</span>

            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand small" href="#/">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle hover" data-toggle="dropdown">CALCULAR <span class="caret"></span></a>
                    <ul class="dropdown-menu lista">
                        <li><a href="#/desmontable">CIELORRASO DESMONTABLE</a>
                        </li>
                        <li><a href="#/juntatomada">CIELORRASO JUNTA TOMADA</a>
                        </li>
                        <li><a href="#/paredinterior">PARED INTERIOR</a>
                        </li>
                        <li><a href="#/paredintext">PARED INTERIOR-EXTERIOR</a>
                        </li>
                        <li><a href="#/revestimiento">REVESTIMIENTO</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#/info">INFO</a>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
